<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title
	th:text="'Spring Boot: MVC + Thymeleaf + Data JPA - ' + ${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/mi.css}" />
<script th:src="@{/js/scrolleable.js}"></script>
</head>
<body>

	<header th:fragment="header">
		<br></br> <br></br>


		<nav
			class="navbar navbar-expand-lg navbar-light bg-light fixed-top customNavbar"
			id="customNavbar">
			<a class="navbar-brand" th:href="@{/practica}" th:text="#{text.navbar.titulo}">Coches Daniel</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse " id="navbarSupportedContent">
				<ul class="navbar-nav m-auto">


					<a class="nav-link" th:href="@{/listarVehiculo}" th:text="#{text.navbar.vehiculo}">Vehiculos<span
						class="sr-only">(current)</span></a>

					<a class="nav-link" th:href="@{/listarAgencias}" th:text="#{text.navbar.agencia}">Agencias <span
						class="sr-only">(current)</span></a>

					<a class="nav-link" th:href="@{/listarAnuncio}" th:text="#{text.navbar.anuncio}">Anuncios <span
						class="sr-only">(current)</span>
					</a>

					<a class="nav-link" th:href="@{/listarPais}" th:text="#{text.navbar.pais}">Paises <span
						class="sr-only">(current)</span>
					</a>
					<a class="nav-link" th:href="@{/listarCiudades}" th:text="#{text.navbar.ciudad}">Ciudades <span
						class="sr-only">(current)</span>
					</a>


				</ul>
				<ul class="navbar-nav navbar-right">
					<li sec:authorize="!isAuthenticated()"><a
						class="btn btn-outline-primary" th:href="@{/login}">Sign in</a></li>

					<li sec:authorize="isAuthenticated()" class="dropdown show"><a
						class="btn btn-outline-primary dropdown-toggle" href="#"
						role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
						aria-expanded="false"><span sec:authentication="name"></span></a>

						<div class="dropdown">

							<form id="logoutForm" th:action="@{/logout}" method="post">
								<button class="dropdown-item"
									onclick="document.getElementById('logoutForm').submit();"
									type="submit">Sign Out</button>
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.parameterName}" />


							</form>

						</div></li>

				</ul>
				<ul class="navbar-nav navbar-right mx-4">
					<li class="nav-item mx-1"><a class="btn btn-outline-success "
						th:href="@{/locale(lang=es_ES)}">ES</a></li>
					<li class="nav-item mx-1"><a class="btn btn-outline-success "
						th:href="@{/locale(lang=en_US)}">EN</a></li>
				</ul>
			</div>
		</nav>

		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</header>

	<div class="container"></div>

	<footer th:fragment="footer"
		class="page-footer font-small mdb-color pt-4">
		<hr />
		<!-- Footer Links -->
		<div class="container text-center text-md-left">

			<!-- Footer links -->
			<div class="row text-center text-md-left mt-3 pb-3">

				<!-- Grid column -->
				<div class="col-md-4 col-lg-4 col-xl-3 mx-auto mt-4">

					<img src="images/logo.png" class="rounded" width="250" height="300"
						alt="" loading="lazy">
					<p sec:authorize="isAuthenticated()">
						Usuario logeado:<span sec:authentication="name"></span> | Roles: <span
							sec:authentication="principal.authorities"></span>

					</p>
				</div>
				<!-- Grid column -->

				<hr class="w-100 clearfix d-md-none">

				<!-- Grid column -->
				<div class="col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
					<h3 class="text-uppercase mb-4 font-weight-bold" id="nomHotel" th:text="#{text.footer.h3}">Daniel
						Venta Coches</h3>
					<p>
						<small th:text="#{text.footer.p}">Ademas somos organizadores de eventos con una gran
							trayectoria. Solo lo conoceras Daniel cars</small>
					</p>
					<p id="direccion">
						<small>Avenida Augusta N10 (03700),Jave,Alicante</small>
					</p>
					<p id="correo">
						<small> info@gmail.com</small>
					</p>
					<p id="numContacto">
						<small> + 34 372 837 49</small>
					</p>
					<p>
						<small> + 34 372 837 49</small>
					</p>

				</div>
				<!-- Grid column -->


				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 ">
					<h3 class="text-uppercase mb-4 font-weight-bold" th:text="#{text.footer.follow.us}">Siguenos</h3>
					<ul class="list-unstyled list-inline">
						<li class="list-inline-item"><img src="images/facebook.png">
						</li>
						<li class="list-inline-item"><a
							class="btn-floating btn-sm rgba-white-slight mx-1"> <img
								src="images/gorjeo.png">
						</a></li>
						<li class="list-inline-item"><a
							class="btn-floating btn-sm rgba-white-slight mx-1"> <img
								src="images/google-mas.png">
						</a></li>

					</ul>
				</div>
				<!-- Grid column -->

			</div>
			<!-- Footer links -->

			<hr>

			<!-- Grid row -->
			<div class="row d-flex align-items-center">

				<!-- Grid column -->
				<div class="col-md-7 col-lg-8"></div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-3 col-lg-4 ml-lg-0">

					<!-- Social buttons -->
					<div class="text-center text-md-right">
						<ul class="list-unstyled list-inline">
							<p class="text-center text-md-left">
								© 2020 Daniel Venta Coches Javea. All right reserved <a
									href="https://mdbootstrap.com/"> </a>
						</ul>
					</div>

				</div>
				<!-- Grid column -->

			</div>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
	</footer>
</body>
</html>