<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<div th:object="${anuncio}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>
				<form th:action="@{/formAnuncio}" th:object="${anuncio}" method="post">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{text.anuncio.precio}">Precio</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{precio}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{text.anuncio.numKm}">Numero de Km</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{numKm}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('numKm')}" th:errors="*{numKm}"></small>
						</div>
					</div>
						<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="#{text.anuncio.fechaPublicacion }">Fecha Publicacion</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{fechaPublicacion}"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fechaPublicacion')}" th:errors="*{fechaPublicacion}"></small>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<label th:text="#{text.anuncio.codigoAgencia.nombre}"></label><br /> <select
								th:field="${anuncio.codigoAgencia}" multiple="multiple">
								<option th:each="agencia :${agencias}"
									th:value="${agencia.codigo}"
									th:text="${agencia.nombre}"></option>
							</select><br />
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<label th:text="#{text.anuncio.codigoAgencia.nombre}"></label><br /> <select
								th:field="${anuncio.nuVehiculo}" multiple="multiple">
								<option th:each="vehiculo :${vehiculos}"
									th:value="${vehiculo.numeroOferta}"
									th:text="${vehiculo.marca}"></option>
							</select><br />
						</div>
					</div>
			
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Crear Anuncio" class="btn btn-secondary" />
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>