<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/formVehiculo}" class="btn btn-primary"  th:text="#{text.insertar.vehiculo}">Insertar Vehiculo</a>
				</h4>

				<table class="table table-striped">
					<thead>
						<tr>
							<th th:text="#{text.ciudad.codigoPostal}">Numero de oferta</th>
							<th th:text="#{text.vehiculo.marca}">Marca</th>
							<th th:text="#{text.vehiculo.modelo}">Modelo</th>
							<th th:text="#{text.vehiculo.numPlazas}">Numero Plazas</th>
							<th th:text="#{text.vehiculo.tipoCambio}">Tipo cambio</th>
							<th th:text="#{text.vehiculo.anyo_vehiculo}">Anyo Vehiculo</th>
							<th th:text="#{text.vehiculo.combustible }">Combustible	</th>
							<th th:text="#{text.vehiculo.tipo}">Tipo</th>
							<th th:text="#{text.vehiculo.codAgencia.nombre}">Agencia a la que pertenece</th>
							<th>editar</th>
							<th>eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="vehiculo: ${list}">
							<td ><a class="btn btn-primary btn-xs" th:href="@{/verVehiculo/} +${vehiculo.numeroOferta}" th:text="${vehiculo.numeroOferta}"></a></td>
							<td th:text="${vehiculo.marca}"></td>
							<td th:text="${vehiculo.modelo}"></td>
							<td th:text="${vehiculo.numPlazas}"></td>
							<td th:text="${vehiculo.tipoCambio}"></td>
							<td th:text="${vehiculo. anyo_vehiculo}"></td>
								<td th:text="${vehiculo.combustible}"></td>
							<td th:text="${vehiculo.tipo}"></td>
							<td th:text="${vehiculo.codAgencia.nombre}"></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/formVehiculo/} + ${vehiculo.numeroOferta}" th:text="#{text.vehiculo.buton.edit}"></a></td>
							<td><a class="btn btn-danger btn-sm"
								th:href="@{/eliminarVehiculo/} + ${vehiculo.numeroOferta}"th:text="#{text.vehiculo.buton.delete}"
								onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
									<td><a class="btn btn-danger btn-sm"
									th:href="@{'/verVehiculo/' + ${vehiculo.numeroOferta}(format=pdf)} + ${vehiculo.numeroOferta}" th:text="'pdf'"></a></td>
</a></td>
						</tr>
					</tbody>

				</table>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<nav aria-label="Pagination">
							<ul class="pagination justify-content-center">
								<li class="page-item"
									th:classappend="${prev == 0 ? 'disabled': ''}"><a
									class="page-link" th:href="@{|/listarVehiculo?page=${prev}|}" th:text="#{text.anterior.footer}">Anterior</a>
								</li>
								<li class="page-item" th:each="page : ${pages}"
									th:classappend="${current == page ? 'active': ''}"><a
									class="page-link" th:href="@{|/listarVehiculo?page=${page}|}"
									th:text="${page}"></a></li>
								<li class="page-item"
									th:classappend="${current == last ? 'disabled': ''}"><a
									class="page-link" th:href="@{|/listarVehiculo?page=${next}|}" th:text="#{text.next.footer}">Siguiente</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="col-md-2"></div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>